
body {
    background: #000000 none no-repeat scroll 0 0;
    padding: 0;    
    margin: 0;
}
#canvas {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
  }
#controls {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 10px;
  }
 
  